Q1. How do you comment code in Python? What are the different types of comments?

Solution:- To comment in python we use #.  comment start with #. Mainly three type of comments single-line, multi-line, and docstring comments.

Q2. What are variables in Python? How do you declare and assign values to variables?

Solution:- Python Variable is containers that store values.

In [1]:
# declaration 
Var = "hey"
print(Var)

hey

Q3. How do you convert one data type to another in Python

Solution:- To convert One datatype to another in python .. We take the help of type casting.

In [2]:
# example convert integer into string 
A = 345 
# Here A is interger 
# now typecaste it into string 
str(A)

'345'

Q4. How do you write and execute a Python script from the command line

Solution : You need to open a command line and type the word python followed by the path to your script file 
like this: python first_script.py then hit enter

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [6]:
my_list = [ 1,2,3,4,5] 
# apply slicing 
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Solution : Complex Number are expressed in the form of a+ib, where a,b are real number and i is imaginary number.

In [12]:
# representation in python 
a = 10 
b = 19 
x = complex(a,b)

In [13]:
x

(10+19j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [15]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

In [17]:
price = 9.99
# price is belong to float data type
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [21]:
name = 'Devesh Kumar Upadhyay'
#  with the help of print function .. you can print the value of variable name 
print(name)

Devesh Kumar Upadhyay

Q10. Given the string "Hello, World!", extract the substring "World"

In [22]:
s = 'Hello, World!'

In [25]:
# Apply Slicing 
s[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [27]:
# I am student so assign 
is_student = True