 Q1. Create one variable containing following type of data:

In [1]:
# String 
 
str = 'Hello World'

In [2]:
# List 
l = ['1' , '9' , 'Dev' ]

In [3]:
# float 
s = 37.8

In [4]:
# tuple 
tup = ('Devesh' , 'Harsh' , 'Gaurav')

Q2. What will be the data type of the  given variable.:

In [5]:
var1 = '' 
print(type(var1))

<class 'str'>

In [6]:
var2 = '[ DS , ML , Python]'

In [7]:
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

<class 'list'>

In [8]:
var4 = 1 
print(type(var4))

<class 'int'>

 Q3. Explain the use of the following operators using an example:

In [9]:
# / 
# this is Division Arithmetic Operator use to devide a value

In [10]:
# %
# Modulus Arithmetic Operator:  it produces a remainder for the integer division.

In [11]:
# //
# 	Floor division : Floor is the smallest possible integer value returned for a double or float value (non-integer values)

In [12]:
# ** 
# Power Operator

 Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
 element and its data type.

In [13]:
l1 = [ 2 , 3 , 'Dev' , 'Raja' , 3.77 , 5.67 , 'Gaurav' , '3' , True , 'ram' ] 

for i in l1 :
    print(i) 
    print(type(i))

2
<class 'int'>
3
<class 'int'>
Dev
<class 'str'>
Raja
<class 'str'>
3.77
<class 'float'>
5.67
<class 'float'>
Gaurav
<class 'str'>
3
<class 'str'>
True
<class 'bool'>
ram
<class 'str'>

 Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
 times it can be divisible.

In [14]:
count = 0 
a = int(input())
b = int(input())

while a>=b : 
    if a%b == 0 :
        a = a // b 
        count += 1 
    else :
        break 
        
print(count)

 10
 2

1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [3]:
l2 = [ 1, 2, 4, 5, 3, 6, 7, 8, 9, 10, 11, 12 , 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,23,24,25]

for i in l2: 
    if( i%3 == 0):
        print( i , ' Divisible by 3')
    else:
        print(i , ' Not Divisible by 3')

1  Not Divisible by 3
2  Not Divisible by 3
4  Not Divisible by 3
5  Not Divisible by 3
3  Divisible by 3
6  Divisible by 3
7  Not Divisible by 3
8  Not Divisible by 3
9  Divisible by 3
10  Not Divisible by 3
11  Not Divisible by 3
12  Divisible by 3
13  Not Divisible by 3
14  Not Divisible by 3
15  Divisible by 3
16  Not Divisible by 3
17  Not Divisible by 3
18  Divisible by 3
19  Not Divisible by 3
20  Not Divisible by 3
21  Divisible by 3
22  Not Divisible by 3
23  Not Divisible by 3
24  Divisible by 3
25  Not Divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer :- mutable data type are those that allow you to change their value or data in place without affecting the object's identity while immutable objects don't allow this kind of operation.

In [ ]:
#Example of mutable and immutable 
str = 'Hello'