In [1]:
import pandas as pd

Q1. List any five functions of the pandas library with execution.

In [2]:
data = {
    'name' : ['Dev' , 'raju' , 'gaurav' , 'sunil'] ,
    'age': ['19' , '18' , '20' , '21']
 }

df = pd.DataFrame(data)
df

     name age
0     Dev  19
1    raju  18
2  gaurav  20
3   sunil  21

In [3]:
# head and tail function 
df.head(3)

     name age
0     Dev  19
1    raju  18
2  gaurav  20

In [4]:
df.tail(2)

     name age
2  gaurav  20
3   sunil  21

In [5]:
# iloc or loc function 
df.iloc[0:3]

     name age
0     Dev  19
1    raju  18
2  gaurav  20

In [6]:
# apply function 
df['age'].apply(lambda x : x*2)

0    1919
1    1818
2    2020
3    2121
Name: age, dtype: object

In [7]:
# iter 

for i , j in df.iteritems():
    print(i , j )

name 0       Dev
1      raju
2    gaurav
3     sunil
Name: name, dtype: object
age 0    19
1    18
2    20
3    21
Name: age, dtype: object

/tmp/ipykernel_102/3342315164.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for i , j in df.iteritems():

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
data1 = { 'A' : ['45' , '46' , '48' , '67'] ,
        'B' : ['56' , '49' , '34' , '23'] ,
        'C' : ['14' , '24' , '78' , '90']}

In [9]:
df2 = pd.DataFrame(data1)

In [10]:
df2

    A   B   C
0  45  56  14
1  46  49  24
2  48  34  78
3  67  23  90

In [11]:
def reindex_with_increment(df):
    new_index = [(i * 2) + 1 for i in range(len(df))]
    df_reindexed = df.reset_index(drop=True)  
    df_reindexed.index = new_index  #
    return df_reindexed

df_reindexed = reindex_with_increment(df)
print(df_reindexed)

     name age
1     Dev  19
3    raju  18
5  gaurav  20
7   sunil  21

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [12]:
data = {
    'Values': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)


def calculate_sum_of_first_three_values(df):
    total_sum = 0
    for index, row in df.iterrows():
        if index < 3: 
            total_sum += row['Values']
    return total_sum

sum_first_three_values = calculate_sum_of_first_three_values(df)
print("Sum of the first three values in the 'Values' column:", sum_first_three_values)

Sum of the first three values in the 'Values' column: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [13]:
data = {
    'Text': ['Hello, this is a sample sentence.',
             'Python programming is fun!',
             'Pandas is a powerful data analysis library.']
}

df = pd.DataFrame(data)


def count_words(text):
    words = text.split() 
    return len(words) 


df['Word_Count'] = df['Text'].apply(count_words)


print(df)

                                          Text  Word_Count
0            Hello, this is a sample sentence.           6
1                   Python programming is fun!           4
2  Pandas is a powerful data analysis library.           7

Q5. How are DataFrame.size() and DataFrame.shape() different?

ans: The size property is used to get an int representing the number of elements in this object and Return the number of rows if Series. The shape property is used to get a tuple representing the dimensionality of the Pandas DataFrame.

Q6. Which function of pandas do we use to read an excel file?

ans: pandas.read_excel() is used to read excel file.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [17]:
data = {
    'Email': ['user1@example.com', 'user2@example.com', 'user3@example.com']
}

df = pd.DataFrame(data)


def extract_username(email):
    username = email.split('@')[0]  # Split email address at '@' and take the first part
    return username


df['Username'] = df['Email'].apply(extract_username)


print(df)

               Email Username
0  user1@example.com    user1
1  user2@example.com    user2
2  user3@example.com    user3

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [18]:
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

df = pd.DataFrame(data)


def filter_dataframe(df):
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df


filtered_df = filter_dataframe(df)
print(filtered_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [23]:
data = {
    'Values': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)


def calculate_statistics(df):
    mean_value = df['Values'].mean()  
    median_value = df['Values'].median() 
    std_deviation = df['Values'].std() 
    return mean_value, median_value, std_deviation


mean_val, median_val, std_dev = calculate_statistics(df)
print("Mean:", mean_val)
print("Median:", median_val)
print("Standard Deviation:", std_dev)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [24]:
data = {
    'Sales': [100, 150, 200, 180, 250, 300, 280, 320, 350, 400],
    'Date': pd.date_range('2023-01-01', periods=10, freq='D')
}

df = pd.DataFrame(data)


def calculate_moving_average(df):
    window_size = 7  # Size of the rolling window
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df


df_with_moving_average = calculate_moving_average(df)
print(df_with_moving_average)

   Sales       Date  MovingAverage
0    100 2023-01-01     100.000000
1    150 2023-01-02     125.000000
2    200 2023-01-03     150.000000
3    180 2023-01-04     157.500000
4    250 2023-01-05     176.000000
5    300 2023-01-06     196.666667
6    280 2023-01-07     208.571429
7    320 2023-01-08     240.000000
8    350 2023-01-09     268.571429
9    400 2023-01-10     297.142857

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [25]:
data = {
    'Date': pd.to_datetime(['2023-01-05', '2023-01-15', '2023-01-25', '2023-02-05', '2023-02-15'])
}

df = pd.DataFrame(data)


def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows


selected_rows = select_rows_between_dates(df)
print(selected_rows)

        Date
0 2023-01-05
1 2023-01-15
2 2023-01-25

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [27]:
data = {
    'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])
}

df = pd.DataFrame(data)


def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A') 
    return df


df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

import pandas as pd means pandas is important library tht need to be imported.