In [1]:
import pandas as pd
course_name = ['Data Science' ,  'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

ans : The difference between the loc and iloc functions is that the loc function selects rows using row labels  whereas the iloc function selects rows using their integer positions

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
new_df = df.reindex([3, 0, 1, 2])

In [5]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [7]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

new_df.loc[2] retrieves the row with the index label 2 after reindexing, which corresponds to the row with the index 1 in the original DataFrame. The output shows the data for the 'Big Data' course.

new_df.iloc[2] retrieves the third row in the reindexed DataFrame, which corresponds to the row with the index 1 in the original DataFrame. The output shows the data for the 'Machine Learning' course.

In [8]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [9]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.131501  0.619630  0.619764  0.136505  0.442347  0.972780
2  0.704588  0.506508  0.298186  0.663433  0.509237  0.881565
3  0.873002  0.191805  0.568336  0.907020  0.680547  0.617351
4  0.503775  0.055872  0.006418  0.609589  0.643841  0.320483
5  0.389661  0.072305  0.688247  0.659841  0.368643  0.168154
6  0.920414  0.026518  0.783506  0.418412  0.737787  0.164769

In [10]:
# (i) 
df1.mean()

column_1    0.587157
column_2    0.245440
column_3    0.494076
column_4    0.565800
column_5    0.563734
column_6    0.520850
dtype: float64

In [11]:
df1['column_2'].std()

0.2549079277677504

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [12]:
replacement_value = 'PW'
df1.loc[2, 'column_2'] = replacement_value

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.131501   0.61963  0.619764  0.136505  0.442347  0.972780
2  0.704588        PW  0.298186  0.663433  0.509237  0.881565
3  0.873002  0.191805  0.568336  0.907020  0.680547  0.617351
4  0.503775  0.055872  0.006418  0.609589  0.643841  0.320483
5  0.389661  0.072305  0.688247  0.659841  0.368643  0.168154
6  0.920414  0.026518  0.783506  0.418412  0.737787  0.164769

In [14]:
mean_column_2 = df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

ans: error is comming because mean() function only accept float or int to find mean()

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

ans :  a window function is a function that performs a calculation across a set of rows that are related to the current row. These functions operate on a "window" of data defined by a specific range of rows relative to the current row.
window functions that can be applied using the rolling(), expanding(), and ewm() methods

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [15]:
current_datetime = pd.Timestamp.now()


current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 10
Current Year: 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [16]:
def calculate_time_difference(start_date, end_date):
    start_datetime = pd.to_datetime(start_date)
    end_datetime = pd.to_datetime(end_date)
    time_difference = end_datetime - start_datetime
    
 
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)
    
    return days, hours, minutes

# Get input dates from the user
start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")

days, hours, minutes = calculate_time_difference(start_date, end_date)
    
print(f"Difference between the two dates: {days} days, {hours} hours, and {minutes} minutes.")

Enter the start date (YYYY-MM-DD):  2023-10-22
Enter the end date (YYYY-MM-DD):  2023-10-18

Difference between the two dates: -4 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [19]:
def process_csv(file_path, column_name, category_order):
   
    df = pd.read_csv(file_path)
    
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
    sorted_df = df.sort_values(by=[column_name])
    
    print("Sorted Data:")
    print(sorted_df)

file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')


process_csv(file_path, column_name, category_order)

Enter the CSV file path:  data.csv
Enter the column name to convert to categorical:  phone_number
Enter the category order (comma-separated):  n1 , n2

Sorted Data:
    name         email_id phone_number
0   sudh   sudh@gmail.com          NaN
1  krish  krish@gmail.com          NaN

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import matplotlib.pyplot as plt

def visualize_sales(file_path):

    df = pd.read_csv(file_path)
    
    pivoted_df = df.pivot(index='Date', columns='ProductCategory', values='Sales')
    
    # Plot stacked bar chart
    pivoted_df.plot(kind='bar', stacked=True)
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Sales Data by Product Category Over Time')
    plt.show()

# Prompt user for input
file_path = input("Enter the CSV file path: ")

# Call the function to visualize sales data
visualize_sales(file_path)

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
def process_student_data(file_path):
    # Read CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Calculate mean, median, and mode of the test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode().iloc[0]
    
    result_df = pd.DataFrame({
        'Metric': ['Mean', 'Median', 'Mode'],
        'Score': [mean_score, median_score, mode_score]
    })
    
    print(result_df)

file_path = input("Enter the CSV file path: ")

# Call the function to process student data
process_student_data(file_path)