In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
data = [4,8,15,16,23,42]

In [3]:
series = pd.Series(data)

In [4]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
listdata = [1,3,2,4,5,6,7,8,9,10]

In [6]:
series1 = pd.Series(listdata)

In [7]:
series1

0     1
1     3
2     2
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [9]:
data2 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

In [10]:
df = pd.DataFrame(data2)

In [11]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ans: The main differnece is a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. You can think dataframe like a spreadsheet or SQL table, or a dict of Series objects.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions and methods along with examples of when you might use them:

In [15]:
# head or tail function 
print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [16]:
print(df.tail(1))

     Name  Age  Gender
2  Claire   27  Female

In [18]:
# describe function 
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ans: In Pandas, both Series and DataFrame are mutable, meaning you can modify their contents after creation.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [20]:
# Create multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])


data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}


df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female